<div class="forecast-container display-inline-block">
        <div class="color-gray day">
          {{forecast.day}}
        </div>
        <div class="display-inline-block">
          <img
            draggable="false"
            (dragstart)="false;"
            [alt]="forecast.state.description" 
            [src]="imgSrc">
        </div>
        <div class="temperature-range-container">
          <div class="color-dark-gray display-inline-block padding-right-5" >
            <span class="display-inline">{{forecast.highestTemperature}}</span>
            <span style="display:none">60</span>°
          </div>
          <div class="color-gray display-inline-block">
            <span class="display-inline">{{forecast.lowestTemperature}}</span>
            <span style="display:none">50</span>°
          </div>
        </div>
</div>
